@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Roboto&family=Fleur+De+Leah&display=swap");

* {
  padding: 0;
  margin: 0;
}

#__next {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

html,
body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
}

.page-content {
  flex: 1 0 auto;
}

.footer {
  margin-top: 70px;
  flex-shrink: 0;
}

a {
  text-decoration: none;
  color: white;
}

.react-tabs__tab {
  padding: 6px 12px 2px;
  font-size: 0.8rem;
}

.react-tabs__tab-list {
  display: block;
  overflow-y: hidden;
  width: 100%;
  white-space: nowrap;
  -ms-overflow-style: none;
  scrollbar-width: none;
  border: none;
  margin-bottom: 20px;
}

.react-tabs__tab-list::-webkit-scrollbar {
  display: none;
}

.react-tabs__tab--selected {
  border: none;
  border-bottom: 3.5px solid #ef4f01;
  font-weight: bold;
  font-size: 1rem;
}

[class*="news-content"] p {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: normal;
}

@media screen and (min-width: 768px) {
  .react-tabs__tab {
    font-size: 1rem;
  }

  .react-tabs__tab--selected {
    font-size: 1.2rem;
  }
}

@media screen and (min-width: 1024px) {
  .react-tabs__tab--selected {
    font-size: 1.5rem;
  }
}

.react-trello-lane {
  background-color: #eee !important;
  color: #183149 !important;
}

.react-trello-card {
  padding: 20px !important;
  width: 300px !important;
  max-width: unset !important;
  pointer-events: none !important;
  word-wrap: break-word;
  white-space: normal;

  &:hover {
    background-color: white !important;
  }
}
