.navbar {
  padding: 10px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logo_nav {
  display: inline-block;
}

.navbar_nav {
  display: inline-block;
}

.navbar_nav li a {
  color: rgba(0, 0, 0, 0.8);
  text-decoration: none;
  padding: 0 20px;
  font-size: 16px;
  transition: 0.3s;
  /* color: black; */
}

.navbar_nav li a:hover {
  font-weight: 600;
  color: #535353;
  /* font-size: 20px; */
}

.navbar_nav li {
  display: inline;
}

/* .active{
    font-weight: bold;
} */

.btn_nav {
  font-weight: 500;
  border: 0;
  background-color: #183149;
  font-size: 16px;
  padding: 8px 20px;
  color: white;
  border-radius: 10px;
  transition: 0.3s;
  box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.28);
  text-decoration: none;
}

.btn_nav:hover {
  cursor: pointer;
  background-color: #183149af;
}

.jumbotron {
  position: relative;
  width: 100vw;
  height: 110vh;
  overflow: hidden;
}

.jumbotron_container {
  padding: 127px;
  width: 60%;
  position: relative;
}

.jumbotron_container::after {
  content: "";
  width: 5%;
  height: 4px;
  border-radius: 10px;
  position: absolute;
  top: 160px;
  margin-left: -15px;
  background-color: #ef4f01;
}

.jumbotron_title {
  font-size: 42px;
}

.color_main {
  color: #ef4f01;
}

.color_second {
  color: #183149;
  font-size: 68px;
  letter-spacing: -4px;
  margin-bottom: -20px;
}

.jumbotron_desc {
  font-size: 26px;
  margin: -40px 0 0 0;
  font-weight: 500;
  color: #183149;
}

.jumbotron_content {
  width: 70%;
  margin: 30px 0;
  color: #183149;
  font-size: 20px;
}

.hero_container {
  position: absolute;
  z-index: -999;
  top: 0;
  right: -250px;
  padding: 30px 30px;
  overflow: hidden;
}

.hero_1 {
  position: initial;
  background-image: url("../public/Ellipse\ 1.png");
  z-index: 9999;
  width: 37vw;
  height: 37vw;
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
}

.hero_1::after {
  content: "";
  width: 105%;
  height: 105%;
  top: -1.3vw;
  right: -1vw;
  position: absolute;
  border-radius: 50%;
  border: 4px solid #183149;
  border-left-color: transparent;
  transform: rotate(-20deg);
  animation: rounded-rotate 2s infinite;
}

/* service */

.service {
  width: 100%;
  height: 100%;
  margin: 60px 0;
}

.service_container {
  width: 80vw;
  height: 80vh;
  margin: 0 auto;
  background-image: url("../public/berita-bg2.png");
  background-size: contain;
  background-repeat: no-repeat;
  text-align: center;
  position: relative;
  box-sizing: border-box;
}

.service_title {
  position: absolute;
  left: 60px;
  font-size: 32px;
  color: white;
}

.service_title::after {
  content: "";
  width: 35px;
  height: 7px;
  position: absolute;
  top: 15px;
  right: -50px;
  border-radius: 15px;
  background-color: #183149;
}

.ico_container {
  width: 100%;
  height: 65vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 5vw;
}

.rounded_ico_service_container {
  text-align: center;
  border: 0;
  padding: 10% 0 0 0;
}

.rounded_ico_service {
  text-align: center;
  line-height: 18vw;
  width: 15vw;
  height: 15vw;
  text-align: center;
  border-radius: 50%;
  background-color: #183149;
  transition: 0.3s;
  margin-top: -20px;
  box-sizing: border-box;
  margin-bottom: 25px;
  position: relative;
}

.rounded_ico_service img {
  width: 4vw;
  transition: 0.3s;
}

.rounded_ico_service:hover {
  width: 17vw;
  height: 17vw;
  line-height: 20vw;
}

.rounded_ico_service:hover > .rounded_ico_service_img {
  width: 5vw;
}

.rounded_border {
  width: 110%;
  height: 110%;
  border: 2px solid white;
  position: absolute;
  top: -7%;
  left: -7%;
  border-radius: 50%;
  opacity: 0;
  transition: 0.3s;
}

.rounded_ico_service:hover > .rounded_border {
  display: block;
  cursor: pointer;
  opacity: 100;
}

.rounded_ico_service:hover + .rounded_ico_service_text {
  font-weight: bold;
}

.rounded_ico_service_text {
  text-decoration: none;
  color: white;
}

/* berita */
.berita {
  text-align: center;
  width: 100%;
}

.berita_title {
  color: #183149;
  position: relative;
  font-size: 39px;
}

.berita_title::after {
  content: "";
  width: 70px;
  height: 3px;
  background-color: #ef4f01;
  position: absolute;
  bottom: 0;
  margin: -10px -180px;
  /* left: 10px; */
}

.berita_container {
  margin: 30px auto;
  width: 90%;
  display: flex;
  text-align: initial;
  justify-content: center;
}

.berita_card {
  margin: 10px;
  width: 30%;
  text-align: center;
  padding: 20px;
  border: 1px solid #d3d3d3;
  border-radius: 20px;
}

.hero_card {
  width: 100%;
  margin-bottom: 25px;
  /* transform: translateX(50%); */
}

.title_card {
  text-align: initial;
  color: #ef4f01;
  font-size: 20px;
}

.date_card {
  text-align: initial;
  font-weight: bold;
  font-size: 13px;
}

.content_card {
  text-align: initial;
  font-size: 13px;
}

.btn_card {
  border: 0;
  background-color: #ef4f01;
  padding: 2px 20px;
  font-weight: 500;
  font-size: 25px;
  color: white;
  border-radius: 12px;
}

.btn_card:hover {
  background-color: #ef5001a1;
  cursor: pointer;
}

/* profil */

.profil {
  width: 100%;
  height: 100vh;
  padding: 100px 0;
  /* background-color: red; */
}

.profil_title_container {
  width: 80%;
  margin: 0 auto;
}

.container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profil_container {
  width: 65%;
  font-size: 18px;
  color: #444444;
}

.profil_title {
  font-weight: 600;
  font-size: 20px;
  color: #183149;
  text-transform: uppercase;
}

.profil_title_2 {
  color: #183149;
}

.profil_title_2 span {
  color: #ef4f01;
}

/* organizer */

.organizer {
  width: 100%;
  min-height: 100vh;
  position: relative;
  margin: 30px 0;
}

.organizer_container {
  width: 80%;
  height: 50%;
  text-align: center;
  display: grid;
  padding-top: 100px;
  margin: 0 auto;
  font-size: 24px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 64px 64px 64px;
  grid-gap: 100px;
}

.organizer_card {
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 10px;
  box-shadow: 0 0 19px -2px rgba(0, 0, 0, 0.23);
  text-align: center;
  line-height: 64px;
  font-weight: 500;
  color: #183149;
  position: relative;
  transition: 0.3s;
}

.organizer_card:hover {
  cursor: pointer;
  color: #183149;
  font-weight: bold;
  background-color: #fff;
}

.organizer_card:hover > .rounded_border_organizer {
  opacity: 100;
}

.organizer_card a {
  text-decoration: none;
  color: #183149;
}

.organizer_bg {
  width: 100%;
  position: absolute;
  left: -3px;
  z-index: -1;
}

.item_7 {
  grid-column-start: 2;
  grid-column-end: 3;
}

.rounded_border_organizer {
  position: absolute;
  width: 105%;
  height: 120%;
  border: 3px solid #183149;
  top: -9px;
  left: -10px;
  border-radius: 10px;
  opacity: 0;
  transition: 0.3s;
}

.organizer_title {
  width: 100%;
  padding-top: 100px;
  /* min-height:200px; */
  text-align: center;
  /* background: red; */
}

.title {
  font-size: 30px;
  /* position: absolute; */
  /* top: 100px;
    left: 35%; */
  color: white;
}

.row {
  width: 160px;
  height: 3px;
  margin: 0 auto;
  background-color: #ff6254;
}

/* kontak */

.kontak {
  width: 100%;
  height: 100vh;
  margin-top: 70vh;
}

.kontak_container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.kontak_card {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.kontak_card a {
  text-decoration: none;
  color: black;
  font-weight: 700;
  margin: 10px;
}

.kontak_title {
  margin-top: -5 0px;
  color: #183149;
  text-align: center;
  font-size: 39px;
}

.kontak_row {
  width: 72px;
  height: 5px;
  border-radius: 10px;
  margin: -40px auto 100px;
  background-color: #ff6254;
}

/* footer */

.footer {
  width: 100%;
  height: 100vh;
  background-color: #ef4f01;
}

@media screen and (max-width: 1024px) and (max-width: 1439px) {
  .hero_container {
    top: 10%;
    right: -200px;
  }

  /* .rounded-border{
        top: -10px;
        left: -10px;
    } */
}

@media screen and (max-width: 768px) {
  .jumbotron {
    overflow-x: hidden;
  }

  .jumbotron_container {
    padding: 50px 90px;
  }

  .jumbotron_container::after {
    top: 90px;
  }

  .jumbotron_content {
    margin-top: 10px;
  }

  .color_second {
    display: block;
    margin-bottom: -10px;
  }

  .hero_container {
    width: initial;
    position: absolute;
    z-index: -999;
    top: -50px;
    right: -250px !important;
  }

  .hero_1 {
    position: initial;
    background-image: url("../public/Ellipse\ 1.png");
    margin-top: 100px;
    z-index: 9999;
    width: 400px;
    height: 400px;
    /* background: #000; */
    /* background-position:center; */
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
  }

  .hero_1::after {
    content: "";
    width: 105%;
    height: 105%;
    top: -15px;
    right: -10px;
    position: absolute;
    border-radius: 50%;
    border: 4px solid #183149;
    border-left-color: transparent;
    transform: rotate(-20deg);
    animation: rounded-rotate 2s infinite;
  }

  /* service */

  .service_container {
    width: 90vw;
    height: initial;
  }

  .service_title {
    font-size: 20px;
    top: 10px;
    left: 40px;
    text-align: left;
  }

  .service_title::after {
    top: -5px;
    right: -40px;
  }

  .ico_container {
    height: 60vh;
  }

  .rounded_ico_service {
    line-height: 18vw;
  }

  .rounded_border {
    width: 110%;
    height: 110%;
    top: -7%;
    left: -7%;
  }

  /* berita */

  .berita_container {
    display: inline-block;
  }

  .berita_title {
    font-size: 30px;
  }

  .berita_title::after {
    margin: -10px -140px;
  }

  .berita_card {
    width: 40%;
    display: inline-block;
  }

  .btn_card {
    border: 0;
    background-color: #ef4f01;
    padding: 2px 15px;
    font-weight: 500;
    display: inline-block;
    font-size: 20px;
    color: white;
    border-radius: 12px;
  }

  /* profil */

  .profil {
    height: initial;
    padding: 0;
    margin: 10vh 0;
  }

  .container {
    flex-direction: column-reverse;
  }

  .profil_content_second {
    display: none;
  }

  .profil_container {
    width: 80%;
  }

  /* organizer */

  .organizer {
    margin: 0;
    padding: 50px 0;
    background-color: #ef4f01;
  }

  .row {
    background-color: #183149;
    width: 10%;
  }

  .organizer_bg {
    display: none;
  }

  .organizer_container {
    width: 80%;
    height: 50%;
    text-align: center;
    display: grid;
    padding-top: 50px;
    margin: 0 auto;
    font-size: 24px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 60px);
    grid-gap: 50px;
  }

  .organizer_title {
    padding: 0;
  }

  .title {
    font-size: 20px;
  }

  /* kontak */

  .kontak {
    height: initial;
    margin-top: 0;
    width: 100vw;
    display: block;
    padding: 0 0 100px;
  }

  .kontak_container {
    width: 50%;
    flex-direction: column;
    display: inline-block;
    margin: -10vh auto;
    transform: translateX(60%);
  }

  .kontak_card {
    margin: 10vh 10px;
  }

  .kontak_title {
    font-size: 25px;
    margin-bottom: 10vh;
  }

  .kontak_title h2 {
    margin-bottom: 10vh;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .jumbotron {
    overflow-x: hidden;
  }

  .jumbotron_container {
    padding: 50px 90px;
  }

  .jumbotron_container::after {
    top: 90px;
  }

  .jumbotron_content {
    margin-top: 10px;
  }

  .color_second {
    display: block;
    margin-bottom: -10px;
  }

  .hero_container {
    width: initial;
    position: absolute;
    z-index: -999;
    top: -50px;
    right: -190px;
  }

  .hero_1 {
    position: initial;
    background-image: url("../public/Ellipse\ 1.png");
    margin-top: 100px;
    z-index: 9999;
    width: 400px;
    height: 400px;
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
  }

  .hero_1::after {
    content: "";
    width: 105%;
    height: 105%;
    top: -15px;
    right: -10px;
    position: absolute;
    border-radius: 50%;
    border: 4px solid #183149;
    border-left-color: transparent;
    transform: rotate(-20deg);
    animation: rounded-rotate 2s infinite;
  }
}

@media screen and (max-width: 480px) {
  .jumbotron {
    box-sizing: border-box;
    padding: 40px 0 0 15px;
    width: 100vw;
  }

  .jumbotron_container {
    width: 226px;
    padding: 10px;
  }

  .jumbotron_container::after {
    top: 0;
    margin: 0;
    width: 10%;
  }

  .color_second {
    font-size: 36px !important;
    letter-spacing: -3px;
    display: block;
  }

  .jumbotron_title {
    font-size: 24px !important;
  }

  .jumbotron_desc {
    margin: 0;
  }

  .jumbotron_content {
    font-size: 20px;
    width: 100%;
  }

  .hero_container {
    display: none;
  }

  /* service */

  .service {
    width: 100%;
    height: 100%;
    margin: 60px 0;
  }

  .service_container {
    width: 100vw;
    padding: 10% 0;
    background-image: none;
    background-color: #ef4f01;
    margin: 0 auto;
    background-size: contain;
    background-repeat: no-repeat;
    text-align: center;
    position: relative;
    box-sizing: border-box;
  }

  .service_title {
    font-size: 20px;
    padding: 0 0 10% 0;
    font-size: 20px;
    text-align: center;
  }

  .service_title span {
    display: initial;
  }

  .rounded_ico_service_container {
    padding: 0;
  }

  .service_title::after {
    top: 7vw;
    left: 65vw;
  }

  .service_title span {
    display: initial;
  }

  .rounded_ico_service {
  }

  .rounded_ico_service {
    line-height: 30vw;
    margin: 10px auto;
    width: 25vw;
    height: 25vw;
    text-align: center;
    border-radius: 50%;
    background-color: #183149;
    transition: 0.3s;
    box-sizing: border-box;
    position: relative;
  }

  .rounded_ico_service img {
    width: 7vw;
  }

  .ico_container {
    height: 100%;
    flex-direction: column;
  }

  .rounded_ico_service_text {
    text-decoration: none;
    font-size: 12px;
    color: white;
  }

  .rounded_border {
    width: 120%;
    height: 120%;
    top: -0.6vw;
    left: -0.6vw;
  }

  .service_title {
    position: initial;
  }

  .rounded_ico_service:hover {
    width: 27vw;
    height: 27vw;
    line-height: 33vw;
  }

  .rounded_ico_service:hover > .rounded_ico_service_img {
    width: 8vw;
  }

  .rounded_border {
    width: 30vw;
    height: 30vw;
    border: 2px solid white;
    position: absolute;
    top: -7%;
    left: -7%;
    border-radius: 50%;
    opacity: 0;
    transition: 0.3s;
  }

  .rounded_ico_service:hover > .rounded_border {
    display: block;
    cursor: pointer;
    opacity: 100;
  }

  .rounded_ico_service:hover + .rounded_ico_service_text {
    font-weight: bold;
  }

  /* berita */
  .berita_card {
    width: 85%;
  }

  /* profil */

  .profil_img {
    width: 226px;
    height: 220px;
    margin: 10vh 0;
  }

  .profil_title_container {
    width: 80%;
    margin: 0 auto;
  }

  .container {
    width: 80%;
  }

  .profil_container {
    width: 100%;
    font-size: 13px;
    text-align: justify;
  }

  /* organizer */

  .organizer_container {
    display: grid;
    grid-template-columns: repeat(1, 100%);
    grid-template-rows: repeat(7, 1fr);
    grid-column-gap: 0;
    grid-row-gap: 50px;
  }

  .item_1 {
    grid-area: 1 / 1 / 2 / 2;
  }

  .item_2 {
    grid-area: 2 / 1 / 3 / 2;
  }

  .item_3 {
    grid-area: 3 / 1 / 4 / 2;
  }

  .item_4 {
    grid-area: 4 / 1 / 5 / 2;
  }

  .item_5 {
    grid-area: 5 / 1 / 6 / 2;
  }

  .item_6 {
    grid-area: 6 / 1 / 7 / 2;
  }

  .item_7 {
    grid-area: 7 / 1 / 8 / 2;
  }

  /* kontak */
  .kontak {
    margin: 10vh 0;
  }

  .kontak_card img {
    width: 65px;
  }

  .kontak_title {
    font-size: 20px;
  }

  .kontak_container {
    width: 100%;
    transform: translateX(-10%);
    display: inline-block;
    margin-left: 100px;
  }
}

@media screen and (min-width: 425px) and (max-width: 470px) {
  .hero_container {
    width: 100%;
    height: 100%;
    position: absolute;
    top: -10px;
    right: 0;
    overflow-x: hidden;
  }

  .hero_1 {
    position: relative;
    background-image: url("../public/Ellipse\ 1.png");
    margin: 50px 290px;
    z-index: 9999;
    width: 50%;
    height: 50%;
    /* background: #000; */
    /* background-position:center; */
    background-size: cover;
    background-repeat: no-repeat;
  }

  .hero_1::after {
    content: "";
    width: 300px;
    height: 300px;
    top: -20px;
    right: -80px;
    /* padding: 200px; */
    position: absolute;
    z-index: 999;
    border: 4px solid #183149;
    border-radius: 50%;
    border-left-color: transparent;
    transform: rotate(-20deg);
    animation: rounded-rotate 2s infinite;
    /* background-color: red; */
  }

  /* kontak */
  .kontak_container {
    width: initial;
    margin-left: 0;
    transform: translateX(15%);
  }
}

@media screen and (min-width: 375px) and (max-width: 424px) {
  .hero_container {
    width: 100%;
    height: 100%;
    position: absolute;
    top: -30px;
    right: 0;
    padding: 15px;
    overflow-x: hidden;
    overflow-y: visible;
  }

  .hero_1 {
    position: relative;
    background-image: url("../public/Ellipse\ 1.png");
    margin: 50px 270px;
    z-index: 9999;
    width: 50%;
    height: 50%;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .hero-1::after {
    content: "";
    width: 300px;
    height: 300px;
    top: -20px;
    right: -100px;
    position: absolute;
    z-index: 999;
    border: 4px solid #183149;
    border-radius: 50%;
    border-left-color: transparent;
    transform: rotate(-20deg);
    animation: rounded-rotate 2s infinite;
  }

  /* service */

  .rounded_border {
    top: -7%;
    left: -7%;
  }

  /* kontak */
  .kontak_container {
    width: initial;
    margin: 0;
    transform: translateX(10%);
  }
}

@media screen and (min-width: 320px) and (max-width: 374px) {
  .hero_container {
    width: 100%;
    height: 100%;
    position: absolute;
    top: -30px;
    right: 0;
    padding: 15px;
    overflow-x: hidden;
  }

  .hero_1 {
    position: relative;
    background-image: url("../public/Ellipse\ 1.png");
    margin: 50px 230px;
    z-index: 9999;
    width: 50%;
    height: 50%;
    /* background: #000; */
    /* background-position:center; */
    background-size: cover;
    background-repeat: no-repeat;
  }

  .hero_1::after {
    content: "";
    width: 300px;
    height: 300px;
    top: -20px;
    right: -130px;
    /* padding: 200px; */
    position: absolute;
    z-index: 999;
    border: 4px solid #183149;
    border-radius: 50%;
    border-left-color: transparent;
    transform: rotate(-20deg);
    animation: rounded-rotate 2s infinite;
    /* background-color: red; */
  }

  /* service */

  .rounded_border {
    top: -8%;
    left: -8%;
  }

  /* kontak */
  .kontak_container {
    width: initial;
    margin: 0;
    transform: translateX(5%);
  }

  .kontak_card img {
    width: 50px;
  }

  .kontak_card a {
    font-size: 15px;
  }
}

@keyframes rounded-rotate {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(-360deg);
  }
}
